.container{
    width: 100%;
    background: white;
    margin: 0;
    font-family: barlow-regular, Arial, Helvetica, sans-serif;
}
.main-container{
    padding:  24px 0px;
}

.divider {
    height:1px;
    background: #979797;
    width: 100%;
    margin-top: 10px;
}

.title-style {
    padding: 8px 0;
}

.title-link {
    text-decoration: none;
    color: #000000;
}

.title-link:hover {
    text-decoration: underline !important;
    color: #E60000 !important;
}

.back-button{
    background: #E60000;
    color: white;
    float: right;
    padding: 0rem 0.6rem 0.3rem 0.6rem;
    border-radius: 5px;
    font-size: 1.5rem;
    line-height: 43px;
    height: 48px;
    width: 50px;
    text-align: center;
}

.back-button:hover{
    background: #A50000;
}

.body-padding {
    padding-right: 24px;
}

@media screen and (max-width:767px) {
    .main-container{
        padding: 18px 0px;
    }

    .body-padding {
        padding-right: 0;
        padding-bottom: 24px;
    }
}